body {
    background-color: #5cdb95;
    font-size: large;
    text-align: center;
    font-family: Futura, Helvetica, Verdana;
}
h1 {
    border-radius: 10px;
    color: #edf5e1;
}
button {
    background-color: #05386b;
    border-radius: 10px;
    color: #edf5e1;
    font-size: 20px;
}
.subscribe {
  font-size: 60px;
}